page-flohmarkt {

}
.card_image ion-img{
  width :100%;
  min-height: 220px !important;
  padding:10px;
  margin:5px;
}
.card_image{
  min-height: 1px !important;
  display: block;
}

.span_categorie{
  float:right;
  font-size:15px;
  font-family: cursive;
  position:absolute;
  margin-left:230px;

}

.card_footer span{
  font-size:18px;
  font-style: oblique;
}

[item-content]{
  display: block;
  padding:5px;
}
.span_start{
  margin:10px;
  float:left;
  color:#000;
}
.span_time{
  float:right;
  color:#000;
}
.location{
  text-align:center;
}
.div_title{
  text-align: center;
  padding:5px;
  color:green;
  font-weight: 500;
  font-size: large;
  font-size:18px;
}
