<ion-menu side="start" type="overlay" [content]="mymenu">
  <ion-header>
    <ion-toolbar color="toolbar">
      <ion-title> Menu {{ current_user.surname}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="logo">
      <img class="logo-img" src="../../assets/imgs/csklogo.png" />
    </div>
    <ion-list class="menu-list" >
        <ion-item (click)="goToLogin()"  *ngIf= " current_user.id == null">
          <ion-label><ion-icon slot="start" name="key" size="large"></ion-icon><span slot="end">Login</span></ion-label>

        </ion-item>
        <ion-item (click)="goToLogin()"  *ngIf= " current_user.id != null">
          <ion-label><ion-icon slot="start" name="key" size="large"></ion-icon><span slot="end">Logout</span></ion-label>

        </ion-item>
        <ion-item (click)="goToSignUp()"  *ngIf = " current_user.id == null">

          <ion-label><ion-icon slot="start" name="log-in" size="large"></ion-icon><span slot="end">Sign In</span></ion-label>
        </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="toolbar"  class="style_footer" style="text-align: center; display:flex;">
      <button ion-button color="toolbar" class="btn_footer"  expand="full" fill="outline" size="large" style="display: flex; text-align:center;">
        <ion-icon name="help-circle-outline" slot="start" size="large"></ion-icon>
        <span  slot="end">  &nbsp; &nbsp; Help</span>
      </button>
    </ion-toolbar>
  </ion-footer>

</ion-menu>
<ion-nav #mymenu [root] = "rootPage" ></ion-nav>


<ion-tabs color="toolbar" tabsPlacement="bottom">
    <ion-tab *ngFor="let page of pageList" [root]="page.url" [tabTitle]="page.title" [tabIcon]="page.icon"></ion-tab>
</ion-tabs>
