page-new-post {

}

.btn_response{
   margin-top:10px;
   margin-bottom:10px;
}

.input_file{
  padding:10px;
}

.input_file ion-input{
  padding:10px;
  font-size:10px;
}

.inputField ion-label{
  font-size:8px;
}
.inputField ion-input {
  font-size:10px;
}
.inputField ion-textarea {
  font-size:10px;
}
