page-edocs {

}
.card_header{
  width: 100%;

}
ion-card-header{
  border-bottom: 1 solid gainsboro;
}
ion-card-header img{


}
.card_header ion-label span{
  padding:3px;
  font-size:8px;
  margin-top:5px;
}
.card_header ion-label{
  display: flex;
}

.card_header ion-card-title{
  font-size:8px;
  display: block;
}
.card_header ion-card-title div{
  font-size:8px;
  display: flex;
}
.card_header ion-card-title span{
  float:right;
  margin-top:5px;
}

.card_content{
  margin:5px;
  min-height: 100px;
  overflow: scroll;
}
.card_footer{
    color:#2f681e;
}
.card_footer ion-item{
  float:right;
  margin:5px;
}
.card_footer ion-label span{
  margin-top:-10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.label-title{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:18px;
  box-shadow:1px 1px 5px 1px gainsboro;
  width:100%;
  //background-image: linear-gradient(to right bottom, #107421, #496b00, #695f00, #844e00, #983902, #aa3f10, #bd441c, #d04a29, #e7721a, #f59c00, #fac800, #f4f412);
}
.card_option{
  border-top:1px solid gainsboro;
}
.card_option ion-item{
  margin:3px;
  text-align: center;
  border-radius: 1%;
  font-size:18px;
}
.card_option ion-item a{
  text-decoration: none;
  color:#000;
}

.title_way:hover{
  box-shadow: 3px 3px 20px 1px gainsboro;
  font-size:8px;
}

.card_option ion-item:hover{
  box-shadow: 3px 3px 20px 1px gainsboro;
  border-radius: 60%;
}



.designAlertBtn{
  color:white;
  background:linear-gradient(to right top, #0e5921, #2f681e, #4d7719, #6b8513, #8c920b);
}
.designAlert li{
  padding:5px;
  box-shadow:1px 1px 5px 1px gainsboro;
  margin-top: 3px;
  margin-bottom: 2px;
  min-height: 100px;
}
.designAlert .card_header {
  float:left;
  background:linear-gradient(to right top, #0e5921, #2f681e, #4d7719, #6b8513, #8c920b);
}
.createdAt ion-label{
  color:green;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-top:1px solid green;
  border-radius: 20% 20% 0% 0%;
}

.designAlert{
  padding:5px;
  box-shadow:1px 1px 5px 1px gainsboro;
  margin-top: 3px;
  margin-bottom: 2px;
  min-height: 100px;
}
.class_autor{
  text-align: center;
  color:white;
  font-size:13px;
  max-width: 50px;
  min-height: 40px;
  margin-top:-1px;
  display: flex;
  border-bottom:1px solid green;
  width:100%;
  margin-bottom:3px;
}

.class_autor img{
  width:60%;
  clip-path: circle(50% at 50% 50%);
}
.footer_alert{
  border:1px solid red;
}

.form_cmt{
  display: block;
  padding:5px;
  box-shadow:1px 1px 5px 1px gainsboro;
  margin-top: 3px;
  margin-bottom: 2px;
  min-height: 120px;
}


.div_form{
  display: block;
  box-shadow:1px 1px 5px 1px gainsboro;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5%;
  width:100% !important;
}

.div_form ion-item ion-select{
  max-width: 300% !important;
  min-width:100%;
  font-size:12px;
}


.item_subject ion-label{
  display: flex;
  min-height:50px ;
  border-top:none;
  font-size:15px ;
  color:green;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  text-overflow: clip;
  overflow: auto;
  display:block;
}

.item_subject_title ion-label{
  display: flex;
  font-family:fantasy;
  font-size:25px;
  text-align:left;
  border-bottom:none;
}

.item_subject ion-icon{
  width:60%;
}

.bloc_cmt{
  box-shadow: 1px 1px 10px 2px gainsboro;
  margin:5px;
  padding:5px;
  border-radius: 5%;
}
.bloc_cmt ion-item{
  border:none;
}

.header_cmt{
  border:none;
  max-height:30px;
}
.content_cmt{
  min-height:50px;
  border:none;
  overflow-wrap: break-word;
}

.content_cmt ion-label{
  font-size:11px;
  height:auto;
  overflow-wrap: break-word;
}
.footer_cmt{
  max-height: 15px;
  padding:3px;
  margin:2px;
}
.footer_cmt span{
  float:right;
}

.footer_cmt ion-label{
  display:flex;
}
.footer_cmt ion-icon{
  float:left;
  margin-left:20px;
  margin-top:-5px;
}

[item-content]{
  overflow-wrap: break-word;
  text-align: justify;
}

.span_createdAt{
  float:right;
  font-style: italic;
  font-family: cursive;
  margin:5px;
  padding:5px;
}
.footer_cmt [item-end] ion-icon{
  padding:10px;
}
.label_center{
  margin-left:-20px;
  z-index: 3;
  margin-top:10px;
}
.label_center ion-icon{
  margin-top:10px;
}
.label_footer ion-icon{
  margin-top:10px;
}
.footer_cmt ion-label a{
  text-decoration: none;
  color:#000;
}
